.snowflake {
    display: block;
    width: 4px; height: 4px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -10px 10px 0 rgba(0,0,0,.2);
    transition: opacity 1s;
    opacity: 1;
    //
    &.hidden {
        opacity: 0;
    }
}
