
.container-rubber {
    width: 100%;
}

.container-standart {
    width: 1280px;
    margin: 0 auto;
}

.col-big-3,.col-big-4,.col-big-6,.col-big-9,.col-big-12 {
    float: left;
}

.col-big-12 {
    width: 100%;
}

.col-big-9 {
    width: 75%;
}

.col-big-6 {
    width: 50%;
}

.col-big-4 {
    width: 33.33333333%;
}

.col-big-3 {
    width: 25%;
}

.col-big-1 {
    width: 8.33333333%;
}
